.projects__load {
  margin-top: 2.4em;
  display: flex;
  justify-content: center;
}

.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  grid-gap: 2em;
}
