.alert {
  margin: 0 auto;
  padding: 15px 25px;
  max-width: max-content;
  position: fixed;
  top: 42px;
  right: 0;
  left: 0;
  background-color: lightgray;
  border-radius: 20px;
  transition: all 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
  z-index: 100;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  .alert__text {
    color: #000;
  }
}
