.project {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;

  /* animation: show-project 1s;
  animation-iteration-count: 1; */
}
.project:hover {
  transform: translateY(-7px);
}

.project .link_type_icon {
  margin-left: 0.5em;
}

/* @keyframes show-project {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */
