.page {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.button {
  display: block;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &_type_plain {
    text-transform: initial;
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 0;
    cursor: default;
  }

  &_type_plain:hover {
    transform: translateY(-4px);
  }

  &_type_icon {
    padding: 0;
    font-size: 1.2rem;
  }

  &_type_icon:hover,
  &_type_icon:focus {
    color: var(--clr-primary);
  }

  &_type_icon:active {
    transform: translateY(-5px);
  }

  &_type_outline {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  &_type_outline:before {
    content: '';
    position: absolute;
    background-color: var(--clr-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
  }

  &_type_outline:active,
  &_type_outline:hover {
    color: var(--clr-bg);
  }

  &_type_outline:hover::before,
  &_type_outline:active::before {
    right: 0;
  }
}
