@import '../../styles/global-imports';

.header {
  height: 6em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

@include md(md) {
  .header {
    height: 8em;
  }
}
