.button_type_outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button_type_outline:focus,
.button_type_outline:hover {
  color: var(--clr-bg);
}

.button_type_outline:before {
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.button_type_outline:hover::before,
.button_type_outline:focus::before {
  right: 0;
}
